.chat-main
  .main-header
    .group-info
      .group-name
        test
      .member-name
        Member : masa
    = link_to "#", class: "edit-buttern" do
      .edit
        Edit
              
  .message-list
    .message-information
      .message-name
        aaa
      .date
        2020/07/23(Thu) 09:30:30
    .message
      おはようございます

    .message-information
      .message-name
        aaa
      .date
        2020/07/23(Thu) 09:30:30
    .message
      おはようございます

  .message-form
    .input-box
      %input{type: "text", class: "input-box__text", placeholder: "type a message"}
      %label{class: "input-box__image"}
        = icon('fas', 'image')
        %input{type: "file", class: "input-box__image__file"}
      %input{type: "submit", class: "submit-btn"}

