.chat-side{
  background-color: #253141;
  width: 300px;
  height: 100vh;
}
  .side-header{
    height: 100px;
    padding: 0 20px;
    display: flex;
    align-items: center;
  }
    .top-items{
      width: 260px;
      height: 20px;
      padding: 0px,20px;
      display: flex;
    }
      .name{
        width: 200px;
        text-align: left;
        line-height: 20px;
        color: white;
        font-weight: bold;
        justify-content: space-between;
      }
      .icons{
        width: 60px;
        height: 20px;
        line-height: 20px;
        display: flex;
        justify-content: flex-end;
      }
        .edit-group {
        color: white;
        margin-right: 5px;
        }
        .new-group {
        color: white;
        }
  

  .groups{
    background-color: #2f3e51;
    height: calc(100vh - 100px);
    padding: 20px;
  }
    .group{
      color: white;
      text-decoration: none;
    }
      .group__group-name{
        font-size: 15px;
        margin-bottom: 5px;
      }
      .group__latest-message{
        font-size: 11px;
      }